body {background:black;color:white;}
ul {padding: 0;}

.mb-20 {margin-bottom: 20px;}

.artemaster nav li {display: inline-block;}
.artemaster nav li a {padding: 5px 10px;color:white;text-decoration: none;}
.artemaster nav li a:hover {color:red;}

.artemaster form label {display: block;}

.artemaster .post-list a:hover {color:red;}
.artemaster .post-list a {color: white;text-decoration: none;}

.artemaster .danger {color:red;font-weight: bold;}
