body {background:black;color:white;}
ul {padding: 0;}

.mb-20 {margin-bottom: 20px;}

.artemaster nav li {display: inline-block;}
.artemaster nav li a {padding: 5px 10px;color:white;text-decoration: none;white-space: nowrap;}
.artemaster nav li span {padding: 5px 10px;color:white;text-decoration: none;white-space: nowrap;}
.artemaster nav li a:hover {color:red;}

.artemaster form label {display: block;}

.artemaster .post-list a:hover {color:red;}
.artemaster .post-list a {color: white;text-decoration: none;}

.artemaster .danger {color:red;font-weight: bold;}

.artemaster nav ul li {position:relative;}
.artemaster nav ul li:hover > ul {display: block;}
.artemaster nav ul li ul {position:absolute;top:100%;left:0;display:none;}
.artemaster nav ul li ul li {display: block;}

.artemaster .develop {position:relative}
.artemaster .develop::after {
    content: 'В разработке';
    color: yellow;
    position: absolute;
    z-index: 10;
    background-color: red;
    padding: 3px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    opacity: .7;
    font-weight: bold;
    font-size: 12px;
}
