@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Geometria";
  src: url("/fonts/Geometria/geometria_medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria light";
  src: url("/fonts/Geometria/geometria_light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria bold";
  src: url("/fonts/Geometria/geometria_bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.logo {
  font-size: 24px;
  font-family: "Geometria bold";
  color: #2E3D4A;
}

.logo_green {
  font-family: "Geometria bold";
  color: #06892B;
}

.top-menu .top-menu__item a,
.top-menu .top-menu__item span {
  font-family: "Geometria light";
  color: #2E3D4A;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
}

.header-nav .logo {
  font-size: 21.25px;
}

.dropdown-menu .dropdown-menu__item a {
  font-family: "Geometria bold";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.modal .modal__link {
  font-family: "Geometria light";
  font-weight: 600;
  font-size: 16px;
  color: #2E3D4A;
}

.banner .banner__title {
  font-family: "Geometria bold";
  font-size: 40px;
  color: #FFFFFF;
}
.banner .banner__subtitle {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.banner .banner__sign {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.banner .banner__sign a {
  color: #FFFFFF;
}

.home-section .home-section__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 32px;
  color: #2E3D4A;
  text-align: center;
}
.home-section .home-section__subtitle {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.home-section .home-section__footer {
  text-align: center;
}

.howThisWork-steps .howThisWork-steps__step {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2E3D4A;
  line-height: 74px;
}
.howThisWork-steps .howThisWork-steps__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2E3D4A;
}
.howThisWork-steps .howThisWork-steps__subtitle {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #686868;
}

.whereSell .whereSell__signs li {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  color: #2E3D4A;
}
.whereSell .whereSell-card__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 24px;
  color: #2E3D4A;
}
.whereSell .whereSell-card__hours {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 18px;
  color: #2E3D4A;
}

.footer .footer__menu li {
  font-family: "Geometria bold";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.footer .footer__sign {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer .footer__policy {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 16px;
  color: #87978C;
}

.btn-green {
  font-family: Geometria;
  font-size: 16px;
  background-color: #06892B;
  color: white;
}

.btn-orange {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  background: #F58020;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.fl-gap-10 {
  gap: 10px;
}

.jc-sb {
  justify-content: space-between;
}

.ali-c {
  align-items: center;
}

.link-reset {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199.98px) {
  .m-1200 {
    display: none;
  }
}
.home-section {
  padding: 56px 0;
}

.btn {
  display: inline-block;
  text-decoration: unset;
  cursor: pointer;
}

.btn-green {
  border-radius: 8px;
  padding: 10px 48px;
}

.btn-orange {
  border-radius: 12px;
  padding: 16px 65px;
}

.top-menu li {
  margin-right: 16px;
}
.top-menu li:hover .top-menu__dropdown {
  display: block;
}
.top-menu .top-menu__dropdown {
  display: none;
  position: absolute;
  padding: 20px 25px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(38, 46, 60, 0.15);
  z-index: 5;
}

.header-nav {
  padding: 20px 0 16px 0;
}

.footer {
  background-color: #232528;
}
.footer .footer__nav {
  padding: 41px 0 25px 0;
  border-bottom: 1px solid #4F5153;
  margin-bottom: 24px;
}
.footer .footer__nav ul {
  list-style: none;
  padding: 0;
}
.footer .footer__nav ul li {
  display: inline-block;
  margin-left: 24px;
}
.footer .footer__sign {
  margin-bottom: 16px;
}
.footer .footer__policy {
  padding-bottom: 40px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal__window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px 40px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.modal.active {
  display: block;
}

.banner {
  background-color: #06892B;
}
.banner .banner__top {
  margin-bottom: 60px;
}
.banner .banner__left {
  padding: 90px 0;
}
.banner .banner__row {
  position: relative;
}
.banner .banner__image {
  position: absolute;
  bottom: 0;
  right: -190px;
}

.howThisWork {
  background-color: #F7F7FF;
}
.howThisWork .howThisWork__steps {
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.howThisWork .howThisWork-steps .howThisWork-steps__step {
  border: 2px solid #CCCCCC;
  border-radius: 100%;
  width: 76px;
  margin: 0 auto;
  position: relative;
}
.howThisWork .howThisWork-steps .howThisWork-steps__step .howThisWork-steps__step_green1 {
  position: absolute;
  border: 3px solid #06892B;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
          clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
}
.howThisWork .howThisWork-steps .howThisWork-steps__step .howThisWork-steps__step_green2 {
  position: absolute;
  border: 3px solid #06892B;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-clip-path: polygon(50% 0, 50% 100%, 100% 100%, 100% 0);
          clip-path: polygon(50% 0, 50% 100%, 100% 100%, 100% 0);
}
.howThisWork .howThisWork-steps .howThisWork-steps__step .howThisWork-steps__step_green3 {
  position: absolute;
  border: 3px solid #06892B;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-clip-path: polygon(50% 0, 50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(50% 0, 50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0);
}
.howThisWork .howThisWork-steps .howThisWork-steps__step_finaly {
  background-color: #06892B;
  border: 2px solid #06892B;
  border-radius: 100%;
  color: #FFFFFF;
}

.whereSell .whereSell__wrapper {
  position: relative;
  margin: 60px 0 80px 0;
}
.whereSell .whereSell__wrapper .whereSell__advantages {
  padding-top: 57px;
}
.whereSell .whereSell__wrapper .whereSell__signs ul {
  list-style: none;
  padding: 0;
}
.whereSell .whereSell__wrapper .whereSell__signs li {
  padding: 20px 24px;
}
.whereSell .whereSell__wrapper .whereSell__sign_shadow {
  background-image: linear-gradient(to right, #eeeeee, #f2f2f2, #f6f6f6, #fbfbfb, #ffffff);
  border-radius: 16px;
}
.whereSell .whereSell__wrapper .whereSell__cards {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.whereSell .whereSell__wrapper .whereSell__cards .whereSell__card {
  padding: 20px 24px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 20px rgba(38, 46, 60, 0.15);
  border-radius: 20px;
  width: 263px;
}
.whereSell .whereSell__wrapper .whereSell__cards .whereSell-card_green {
  border: 1px solid #06892B;
}

.whereSell-card .whereSell-card__title {
  margin-bottom: 37px;
}
.whereSell-card .whereSell-card__hours {
  margin-bottom: 38px;
}
.whereSell-card .whereSell-card__marks .whereSell-card__mark {
  margin-bottom: 35px;
}
.whereSell-card .whereSell-card__marks .whereSell-card__mark img {
  display: inline-block;
  margin-right: 18px;
}

.whyCarPrice .whyCarPrice__wrapper {
  padding: 70px 0 43px 0;
}
.whyCarPrice .whyCarPrice__advantages {
  max-width: 232px;
}
.whyCarPrice .whyCarPrice__item {
  gap: 40px;
}

.advantages-item .advantages-item__numbers {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 20px;
  color: #CCCCCC;
  padding-left: 20px;
  position: relative;
}
.advantages-item .advantages-item__numbers::before {
  content: "";
  position: absolute;
  background: #06892B;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.advantages-item .advantages-item__titles {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 18px;
  color: #2E3D4A;
}
.advantages-item .advantages-item__sign {
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.contacts .contacts__wrapper {
  padding: 60px 0 32px 0;
}
.contacts .contacts__map {
  margin-bottom: 31px;
}
.contacts .contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-height: 538px;
  overflow: auto;
}
.contacts .contacts__item {
  max-width: 240px;
  padding: 20px 0 24px 0;
  border-bottom: 1px solid #E7E9EB;
}

.contact-list-item .contact-list-item__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 20px;
  color: #06892B;
  margin-bottom: 14px;
}
.contact-list-item .contact-list-item__subtitle {
  font-family: "Geometria light";
  font-weight: 600;
  font-size: 16px;
  color: #2E3D4A;
  margin-bottom: 10px;
}
.contact-list-item .contact-list-item__body {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  color: #2E3D4A;
  margin-bottom: 10px;
}
.contact-list-item .contact-list-item__bottom a {
  font-family: "Geometria light";
  font-weight: 600;
  font-size: 16px;
  color: #06892B;
  text-decoration: none;
}
.contact-list-item .contact-list-item__bottom a:hover {
  text-decoration: underline;
}

.auction-cats .auction-cats__title {
  text-align: left;
}
.auction-cats .auction-cats__wrapper {
  margin-top: 16px;
  padding: 25px 32px;
  box-shadow: 0px 2px 10px rgba(36, 40, 49, 0.1);
  border-radius: 16px;
}
.auction-cats .action-cats__root-cats {
  margin-bottom: 25px;
}
.auction-cats .action-cats__button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 6px;
  font-family: "Geometria light";
  font-weight: 600;
  font-size: 14px;
  color: #6A6A6A;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  margin-right: 20px;
}
.auction-cats .action-cats__button:hover {
  color: #06892B;
}
.auction-cats .action-cats__button_active {
  background: #06892B;
  color: #FFFFFF;
  font-weight: 700;
}
.auction-cats .action-cats__sub-cats a {
  display: inline-block;
  margin-right: 30px;
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 16px;
  color: #2E3D4A;
  text-decoration: none;
}
.auction-cats .action-cats__sub-cats a:hover {
  color: #06892B;
}

.auction-cats .auction-cats__title {
  text-align: left;
}
.auction-cats .auction-cats__wrapper {
  margin-top: 16px;
  padding: 25px 32px;
  box-shadow: 0px 2px 10px rgba(36, 40, 49, 0.1);
  border-radius: 16px;
}
.auction-cats .action-cats__root-cats {
  margin-bottom: 25px;
}
.auction-cats .action-cats__button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 6px;
  font-family: "Geometria light";
  font-weight: 600;
  font-size: 14px;
  color: #6A6A6A;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  margin-right: 20px;
}
.auction-cats .action-cats__button:hover {
  color: #06892B;
}
.auction-cats .action-cats__button_active {
  background: #06892B;
  color: #FFFFFF;
  font-weight: 700;
}
.auction-cats .action-cats__sub-cats a {
  display: inline-block;
  margin-right: 30px;
  font-family: "Geometria light";
  font-weight: 400;
  font-size: 16px;
  color: #2E3D4A;
  text-decoration: none;
}
.auction-cats .action-cats__sub-cats a:hover {
  color: #06892B;
}

.advantages .advantages__title {
  text-align: left;
}
.advantages .advantages__wrapper {
  padding: 32px 0 27px 0;
}
.advantages .advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 28px;
}
.advantages .advantages__item {
  box-shadow: 0px 4px 20px rgba(38, 46, 60, 0.1);
  border-radius: 12px;
  padding: 40px 20px;
}

.advantages-item .advantages-item__icon img {
  margin: 0 auto;
  margin-bottom: 16px;
}
.advantages-item .advantages-item__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2E3D4A;
  margin-bottom: 12px;
}
.advantages-item .advantages-item__body {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #6A6A6A;
}

.some-text {
  background: #F7F7FF;
}
.some-text .some-text__wrapper {
  gap: 49px;
  padding-bottom: 48px;
}
.some-text .some-text__text {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 16px;
  color: #2E3D4A;
}

.work-cities .work-cities__list {
  padding-top: 40px;
}
.work-cities .work-cities__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.work-cities .work-cities__list ul li {
  margin-bottom: 16px;
}
.work-cities .work-cities__list ul li a {
  font-family: "Geometria";
  font-weight: 400;
  font-size: 16px;
  color: #2E3D4A;
  text-decoration: none;
}
