.banner {
    background: radial-gradient(25.2% 85.16% at 68.96% 64.94%, rgba(235, 255, 0, 0.5) 0%, rgba(235, 255, 0, 0) 100%), #06892B;
    overflow: hidden;

    .banner__top {
        margin-bottom: 60px;
    }

    .banner__left {
        padding: 90px 0;
        z-index: 2;
        position: relative;
    }

    .banner__row {
        // display: flex;
        position: relative;
    }

    .banner__image {
        position: absolute;
        bottom: 0;
        right: -190px;
    }

    .banner__title {
        font-family: $--base-bold-font-family;
        font-size: 40px;
        color: #FFFFFF;
        line-height: 44px;
        margin-bottom: 16px;
    }
    .banner__subtitle {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
    }
    .banner__sign {
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 16px;
        line-height: 18px;
    }
    .banner__sign a {
        color: #FFFFFF;
    }
}

@media (max-width: 767.98px){
    .banner {
        padding-top: 70px;
        background: radial-gradient(80.89% 55.68% at 105.73% 58.07%, rgba(235, 255, 0, 0.5) 0%, rgba(235, 255, 0, 0) 100%), #06892B;

        .banner__image {
            position: relative;
            right: 0;
        }

        .banner__left {
            padding: 0;
        }
        .banner__title {
            font-size: 30px;
            line-height: 33px;
        }
    }
}
