.banner {
    background-color:#06892B;
    overflow: hidden;

    .banner__top {
        margin-bottom: 60px;
    }

    .banner__left {
        padding: 90px 0;
        z-index: 2;
        position: relative;
    }

    .banner__row {
        // display: flex;
        position: relative;
    }

    .banner__image {
        position: absolute;
        bottom: 0;
        right: -190px;
    }

    .banner__title {
        font-family: 'Geometria bold';
        font-size: 40px;
        color: #FFFFFF;
    }
    .banner__subtitle {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
    }
    .banner__sign {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
    }
    .banner__sign a {
        color: #FFFFFF;
    }
}

@media (max-width: 767.98px){
    .banner {
        padding-top: 70px;

        .banner__image {
            position: relative;
            right: 0;
        }

        .banner__left {
            padding: 0;
        }
        .banner__title {
            font-size: 30px;
            line-height: 33px;
        }
    }
}
