.breadcrumbs {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: min-content;
    overflow-x: scroll;

    .breadcrumbs_list {
        display: grid;
        grid-auto-flow: column;
        gap: 3px;
        overflow-x: auto;
        width: 100%;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .breadcrumbs__item {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #969EA4;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
            color: #969EA4;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.white .breadcrumbs__item {
        color: white;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @include size992 {
            color: #969EA4;

            a {
                color: #969EA4;
            }
        }
    }
}
