.btn {
    // display: block;
    display: inline-block;
    text-decoration: unset;
    cursor: pointer;
}

.btn-green {
    border-radius: 8px;
    padding: 10px 48px;
    font-size: 16px;
    background-color: $--base-green-color;
    color: white;
}

.btn-orange {
    border-radius: 12px;
    padding: 16px 65px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #F58020;
}
