.btn {
    // display: block;
    display: inline-block;
    text-decoration: unset;
}

.btn-green {
    border-radius: 8px;
    padding: 10px 48px;
}

.btn-orange {
    border-radius: 12px;
    padding: 16px 65px;
}