.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Geometria bold";
    color: #2E3D4A;

    .logo__text span{
        color: #06892B;
    }

    .logo__svg {
        width: 48px;
        height: 30px;
    }
}
