.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $--base-bold-font-family;

    .logo__text span{
        color: $--base-green-color;
    }

    .logo__svg {
        width: 48px;
        height: 30px;
    }
}

.scroll-lock {
    overflow: hidden;
}

.blog-pages-wrapper {
    margin-bottom: 58px;
    margin-top: 10px;

    .blog-pages-h1 {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 24px;
    }
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
