@font-face {
    font-family: "Geometria"; 
    src: url("/fonts/Geometria/geometria_medium.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Geometria light"; 
    src: url("/fonts/Geometria/geometria_light.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Geometria bold"; 
    src: url("/fonts/Geometria/geometria_bold.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 

.font-Geometria {
    font-family: "Geometria bold";
    color: #2E3D4A;    
}

.logo_size {
    font-size: 21.25px;
    line-height: 26.73px
}

.logo_green {
    font-family: "Geometria bold";
    color: #06892B;
}

.top-menu {
    .top-menu__item a,
    .top-menu__item span {
        font-family: "Geometria light";
        color: #2E3D4A;
        text-decoration: none;
        font-weight: 800;
        font-size: 16px;
    }
}

.dropdown-menu {
    .dropdown-menu__item a{
        font-family: 'Geometria bold';
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }
}

.modal {
    .modal__link {
        font-family: "Geometria light";
        font-weight: 600;
        font-size: 16px;
        color: #2E3D4A;
    }
}

.banner {
    .banner__title {
        font-family: 'Geometria bold';
        font-size: 40px;
        color: #FFFFFF;
    }
    .banner__subtitle {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
    }
    .banner__sign {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
    }
    .banner__sign a {
        color: #FFFFFF;
    }
}

.home-section {
    .home-section__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 32px;
        color: #2E3D4A;
        text-align: center;
    }

    .home-section__subtitle {
        font-family: 'Geometria light';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
    .home-section__footer{
        text-align: center;
    }
}

.howThisWork-steps {
    .howThisWork-steps__step {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
        line-height: 74px;
    }
    .howThisWork-steps__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
    }
    .howThisWork-steps__subtitle {
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #686868;
    }
}

.btn-green {
    font-family: Geometria;
    font-size: 16px;
    background-color: #06892B;
    color: white;
}

.btn-orange {
    font-family: 'Geometria';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #F58020;
}