@font-face {
    font-family: "Geometria";
    src: url("/fonts/Geometria/geometria_medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Geometria light";
    src: url("/fonts/Geometria/geometria_light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Geometria bold";
    src: url("/fonts/Geometria/geometria_bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.logo {
    font-size: 24px;
    font-family: "Geometria bold";
    color: #2E3D4A;
}

.logo_green {
    font-family: "Geometria bold";
    color: #06892B;
}

.home-section {
    .home-section__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 32px;
        color: #2E3D4A;
        text-align: center;
    }

    .home-section__subtitle {
        font-family: 'Geometria light';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
    .home-section__footer{
        text-align: center;
    }
}

.btn-green {
    font-family: Geometria;
    font-size: 16px;
    background-color: #06892B;
    color: white;
}

.btn-orange {
    font-family: 'Geometria';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #F58020;
}
