.footer {
    background-color: #232528;

    .footer__logo-text {
        color:white;
        font-size: 22px;
    }

    .footer__nav {
        padding: 41px 0 25px 0;
        border-bottom: 1px solid #4F5153;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 24px;
        }
    }

    .footer__sign {
        margin-bottom: 16px;
    }

    .footer__policy {
        padding-bottom: 40px;
    }

    .footer__menu {
        li {
            font-family: 'Geometria bold';
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
        }
    }
    .footer__sign {
        font-family: 'Geometria light';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    .footer__policy {
        font-family: 'Geometria light';
        font-weight: 400;
        font-size: 16px;
        color: #87978C;
    }

    .footer__logo {
        margin-bottom: 12px;
    }
}


@media (max-width: 767.98px){
    .footer .footer__nav {
        display: block;
    }
}
