.footer {
    background-color: #232528;

    .footer__nav {
        padding: 41px 0 25px 0;
        border-bottom: 1px solid #4F5153;
        margin-bottom: 24px;

        ul {list-style: none;padding: 0;}

        ul li {
            display: inline-block;
            margin-left: 24px;
        }
    }

    .footer__sign {
        margin-bottom: 16px;
    }

    .footer__policy {
        padding-bottom: 40px;
    }
}