.footer {
    background-color: #232528;

    .footer__logo-text {
        color:white;
        font-size: 22px;
    }

    .footer__nav {
        padding: 41px 0 25px 0;
        border-bottom: 1px solid #4F5153;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: grid;
            grid-auto-flow: column;
            gap: 24px;
        }
    }

    .footer__sign {
        margin-bottom: 16px;
    }

    .footer__policy {
        padding-bottom: 40px;

        a {
            color: #87978C;
        }

        svg {
            height: 10px;
            width: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(180deg);
            use {stroke:white;}
        }
    }

    .footer__menu {
        li a {
            font-family: $--base-bold-font-family;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 24px;
            text-decoration: none;
        }
    }
    .footer__sign {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    .footer__policy {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 16px;
        color: #87978C;
    }

    .footer__logo {
        margin-bottom: 12px;

        svg {
            height: 32px;
            width: 52px;
        }
    }

    .footer__policy {
        display: flex;
        justify-content: space-between;

        .footer__toggle-top {
            background: $--base-green-color;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            position: relative;
            flex-shrink: 0;
        }
    }
}

@include size768 {
    .footer .footer__nav {
        display: block;
    }
}
