
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.fl-gap-10 {
    gap: 10px
}

.jc-sb {
    justify-content: space-between;
}

.ali-c {
    align-items: center;
}

.link-reset {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}








.container {
    padding: 0 15px;
}

@media (min-width: 575.98px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px){
    .container {
        max-width: 720px;	
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px){
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1199.98px){
    .m-1200 {
        display: none;
    }
}





.home-section {
    padding: 56px 0;
}