.top-menu {
    li {
        margin-right: 16px;
    }

    li:hover .top-menu__dropdown{
        display: block;
    }

    .top-menu__dropdown {
        display: none;
        position: absolute;
        padding: 20px 30px;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 2px 10px rgba(38, 46, 60, 0.15);
        z-index: 5;
    }

    .top-menu__pointer{
        width: 16px;
        height: 20px;
    }

    .top-menu__item a,
    .top-menu__item span {
        font-family: $--base-light-font-family;
        text-decoration: none;
        font-weight: 800;
        font-size: 16px;
        cursor: pointer;
    }

    .dropdown-menu {
        .dropdown-menu__item {
            padding-left: 50px;
            margin-bottom: 24px;
            position: relative;
            cursor: pointer;

            .dropdown-menu__icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 31px;
                height: 31px;
            }

            .dropdown-menu__subtitle {
                font-family: $--base-light-font-family;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #999999;
            }
        }

        .dropdown-menu__item a{
            font-family: $--base-bold-font-family;
            font-weight: 500;
            font-size: 16px;
            color: #000000;
        }

        .dropdown-menu__posts {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            padding: 20px 30px;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0px 2px 10px rgb(38 46 60 / 15%);
            width: 250px;
            z-index: 10;

            flex-direction: column;
            gap: 16px;

            li a{
                font-family: 'Manrope';
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: #000000;
            }

            li a:hover {
                color: $--base-green-color;
                cursor: pointer;
            }
        }
        .dropdown-menu__item:hover .dropdown-menu__posts {
            display: flex;
        }
    }
}

.header-nav {
    height: 60px;

    .header-nav__logo-font {
        font-size: 21.25px;
    }

    .header-nav__choose-city {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header-nav__logo::after {
        content:'';
        width: 1px;
        height:16px;
        background: #DDDDDD;
    }

    .header-nav__mobile-menu {
        width: 23px;
        height: 17px;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        z-index: 10;
        position: relative;
        display: none;

        span{
            width: 23px;
            height: 2px;
            border-radius: 2px;
            background-color: black;
            transition: all 0.3s;
        }
    }

    .header-nav__mobile-menu.active {
        span:nth-child(1) {
            transform: rotate(45deg) translateY(2px);
            margin-top: 6px;
            width:25px;
        }
        span:nth-child(2) {
            opacity: 0;
        }
        span:nth-child(3) {
            transform: rotate(-45deg) translateY(-2px);
            margin-bottom: 6px;
            width:25px;
        }
    }
}

@media (max-width: 1199.98px){
    .header-nav .header-nav__logo::after {
        display: none;
    }

    .header-nav .header-nav__mobile-menu{
        display: flex;
    }
}
