.modal{
    .modal__window {
        padding: 40px 40px 40px 50px;
        background-color: #fff;
        border-radius: 10px;
        width: 1280px;
    }

    .modal__window_for-review {
        padding: 0;
        width: 784px;
        overflow: hidden;
    }

    .modal__window_for-review .modal__header {
        height: 309px;
    }

    .modal__window_for-review .modal__header svg {
        margin: 20px;
    }

    .modal__content {
        padding: 0 40px 40px;
    }

    .modal__link {
        font-family: "Geometria light";
        font-weight: 600;
        font-size: 16px;
        color: #2E3D4A;
        display: block;
        margin-bottom: 16px;
    }

    .modal__link-list {
        display: flex;
        gap: 30px;
    }

    .modal__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        svg {
            height: 17px;
            width: 17px;
            cursor: pointer;
        }
    }

    .modal__title {
        font-family: 'Geometria';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #2E3D4A;
    }
}

@media (max-width: 1330px){
    .modal .modal__window {
        width: 900px;
    }
}

@media (max-width: 991.98px) {
    .modal .modal__window {
        width: 600px;
    }
}
