.modal{
    .modal__window {
        padding: 40px 40px 40px 50px;
        background-color: #fff;
        border-radius: 10px;
    }

    .modal__link {
        font-family: "Geometria light";
        font-weight: 600;
        font-size: 16px;
        color: #2E3D4A;
        display: block;
        margin-bottom: 16px;
    }

    .modal__link-list {

    }

    .modal__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .modal__title {
        font-family: 'Geometria';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #2E3D4A;
    }
}