.slider {
    padding: 60px 0;
    margin-bottom: 56px;
    overflow: hidden;

    .slider__container{
        position: relative;
    }
    .slider__slide {
        background-color: white;
        border-radius: 12px;
        overflow: hidden;
    }
    .slider__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #2E3D4A;
        margin-bottom: 32px;
    }
    .slider__footer {
        margin-top: 60px;
        text-align: center;
    }
    .slider__image {
        width: 100%;
    }
    .slider__toggler {
        width: 38px;

        svg.left {
            transform: rotate(180deg);
        }
    }
    .slider__pagination {
        bottom: -35px;
    }
    .swiper-pagination-bullet {
        height: 4px;
        width: 43px;
        border-radius: 26px;
        margin: 0 9px !important;
    }
    .swiper-pagination-bullet-active {
        background-color: #0D6064;
    }

    .slider__toggler_left {
        left: -20px;
    }

    .slider__toggler_right {
        right: -20px;
    }
}

.reviews.slider {
    background: #F7F7FF;
}

@media (max-width: 767.98px){
    .slider {
        .slider__toggler_right {
            top: 0;
            right: 20px;
        }

        .slider__toggler_left {
            top: 0;
            right: calc(38px + 24px + 20px);
            left: auto;
        }
    }
}
