.whereSell {
    .whereSell__wrapper{
        position: relative;
        margin: 60px 0 80px 0;

        .whereSell__advantages {
            padding-top: 69px;
        }

        .whereSell__signs {

            ul {
                list-style: none;
                padding: 0;
            }

            li{
                font-weight: 500;
                font-size: 16px;
                color: #2E3D4A;

                display: flex;
                align-items: center;

                padding: 0 24px;
                width: 50%;
                height: 60px;

                @include size576 {
                    font-size: 14px;
                    height: 56px;
                    font-family: $--base-light-font-family;
                    padding: 0 16px;
                }
            }
        }

        .whereSell__sign_shadow {
            background-image: linear-gradient(to right, #eeeeee, #f2f2f2, #f6f6f6, #fbfbfb, #ffffff);
            border-radius: 16px;
        }

        .whereSell__cards {
            position: absolute;
            top: 0;
            right: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .whereSell__card {
                padding: 20px 24px 40px;
                background: rgba(255, 255, 255, 0.7);
                box-shadow: 0px 4px 20px rgba(38, 46, 60, 0.15);
                border-radius: 20px;
                width: 263px;

                @include size576 {
                    width: 190px;
                    padding: 14px 20px;
                }
            }

            .whereSell-card_green {
                border: 1px solid #06892B;
            }

            @include size1200 {
                grid-template-columns: 1fr;

                .whereSell__card_hide {
                    display: none;
                }
            }
        }
    }

    .whereSell__wrapper_hide{
        display: none;

        @include size1200 {
            display: block;
        }
    }

    .whereSell-card__title{
        font-weight: 500;
        font-size: 24px;
        color: #2E3D4A;
        line-height: 30px;

        @include size576 {
            font-size: 18px;
        }
    }

    .whereSell-card__hours {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 18px;
        color: #2E3D4A;
        height: 20px;
        display: flex;
        align-items: center;

        svg {
            width: 24px;
            height: 11px;
        }
    }
}

.whereSell-card {
    .whereSell-card__title {
        margin-bottom: 37px;
    }
    .whereSell-card__title_main {
        color: #2E3D4A;
        span {color:#06892B}
    }
    .whereSell-card__hours {
        margin-bottom: 37px;
        height: 27px;
    }
    .whereSell-card__marks {

        .whereSell-card__mark {
            margin-bottom: 36px;
            display: flex;
            justify-content: space-between;

            svg {
                width: 22px;
                height: 22px;
            }

            svg.green use{fill: #06892B;}

            svg.gray use{fill: #cccccc;}
        }
    }
    .whereSell-card__marks :last-child {
        margin:0;
    }
}
