.articles {
    .articles__items-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 19px;
    }
    .articles__item {
        border-radius: 12px;
        overflow: hidden;
    }
    .articles__image {
        width: 100%;
    }
    .articles__header {
        display: flex;
        gap: 20px;
        align-items: start;
    }
    .articles__tag {
        background: #ccc;
        border-radius: 46px;
        padding: 8px 12px 6px;
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 15px;
    }
    .articles__text{
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        margin-bottom: 24px;
    }
    .articles__date{
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
    }
    .articles__link{
        display: flex;
        align-items: center;
        gap: 5px;
        height: 36px;
        padding: 0 20px;
        background: #FDE8D6;
        border-radius: 8px;

        svg {
            height: 7px;
            width: 12px;
            transform: rotate(-90deg);
            use{stroke:#E65425;}
        }
        span {
            white-space: nowrap;
            font-family: 'Geometria';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #E65425;
        }
    }
    .articles__link-detail {
        font-family:'Geometria';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #06892B;
        border: 1px solid #06892B;
        height: 36px;
        width: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer;
        text-decoration: none;
    }
    .articles__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .articles__tag.blue {
        background: #2B74B9;
    }
    .articles__tag.green{
        background: #0B7A6A;
    }
    .articles__tag.pink{
        background: #783294;
    }
}

.blog-detail-pages-wrapper {
    .blog-detail-pages-wrapper__banner {
        background-color: #06892B;
        height: 220px;
        margin-bottom: -135px;
        padding-top: 10px;
    }
    .blog-detail-pages-wrapper__image {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 32px;
        img {
            width: 100%;
        }
    }
    .blog-detail-pages-wrapper__wrapper{
        display: grid;
        grid-template-columns: auto 324px;
        gap: 50px;
    }
    .blog-detail-pages-wrapper__sidebar {
        
    }
    .blog-detail-pages-wrapper__title {
        font-family: Geometria;
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: #2E3D4A;
    }
}

@media (max-width: 767.98px) {
    .articles .articles__link {
        display: none;
    }
}
