.contacts {
    .contacts__wrapper {
        padding: 60px 0 32px 0;
    }
    .contacts__map{
        margin-bottom: 31px;
    }

    .contacts__map img {
        border-radius: 12px;
    }

    .contacts__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @include size768 {
            grid-template-columns: 1fr 1fr;
        }

        @include size576 {
            grid-template-columns: 1fr;
        }
    }
    .contacts__item {
        max-width: 240px;
        padding: 20px 0 24px 0;
        border-bottom: 1px solid #E7E9EB;

        @include size576 {
            max-width: unset;
        }
    }
}

.contact-list-item {
    .contact-list-item__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 20px;
        color: #06892B;
        margin-bottom: 14px;
    }
    .contact-list-item__subtitle{
        font-family: 'Geometria light';
        font-weight: 600;
        font-size: 16px;
        color: #2E3D4A;
        margin-bottom: 10px;
    }
    .contact-list-item__body{
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        color: #2E3D4A;
        margin-bottom: 10px;
    }
    .contact-list-item__bottom a {
        font-family: 'Geometria light';
        font-weight: 600;
        font-size: 16px;
        color: #06892B;
        text-decoration: none;
    }
    .contact-list-item__bottom a:hover {
        text-decoration: underline;
    }
}
