.howThisWork {
    background-color: #F7F7FF;

    .howThisWork__steps{
        padding: 56px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 30px;
    }

    .howThisWork-steps {
        .howThisWork-steps__step {
            border: 2px solid #CCCCCC;
            border-radius: 100%;
            width: 76px;
            height: 76px;
            margin: 0 auto;
            margin-bottom: 19px;
            position: relative;
            flex-shrink: 0;

            .howThisWork-steps__punktir {
                position: absolute;
                content: '';
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 160px;
                height: 3px;
                margin: 0 30px;
                // border: 2px dashed #CCCCCC;
                background-image: url(/img/svg/line.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }

            .howThisWork-steps__round {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                border-radius: 100%;
                border: 2px solid #CCC;
                width: 13px;
                height: 13px;
            }
            .howThisWork-steps__round_l {
                right: calc(100% + 9px);
            }
            .howThisWork-steps__round_r {
                left: calc(100% + 9px);
            }

            .howThisWork-steps__step_green1 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
            }
            .howThisWork-steps__step_green2 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 100%, 100% 100%, 100% 0);
            }
            .howThisWork-steps__step_green3 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0);
            }
        }

        .howThisWork-steps__step_finaly {
            background-color: #06892B;
            border: 2px solid #06892B;
            border-radius: 100%;
            color: #FFFFFF;
        }
    }

    .howThisWork-steps__step {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
        line-height: 74px;
    }
    .howThisWork-steps__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
        margin-bottom: 12px;
    }
    .howThisWork-steps__subtitle {
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #686868;
    }
}


@media (max-width: 1199.98px){
    .howThisWork .howThisWork-steps .howThisWork-steps__step .howThisWork-steps__punktir {
        width: 110px;
        margin: 0 34px;
    }
}

@media (max-width: 991.98px) {
    .howThisWork {
        .howThisWork__steps {
            grid-template-columns: 1fr 1fr;
        }

        .howThisWork-steps__step .howThisWork-steps__punktir {
            display: none;
        }

        .howThisWork-steps__step .howThisWork-steps__round {
            display: none;
        }
    }
}

@media (max-width: 575.98px){
    .howThisWork {
        .howThisWork__steps {
            grid-template-columns: 1fr;
        }

        .howThisWork-steps__title {
            text-align: left;
            margin-bottom: 8px;
        }

        .howThisWork-steps__subtitle {
            text-align: left;
        }

        .howThisWork-steps__item {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }
}
