.howThisWork {
    background-color: #F7F7FF;

    .howThisWork__steps{
        padding: 56px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 30px;
    }

    .howThisWork-steps {
        .howThisWork-steps__step {
            border: 2px solid #CCCCCC;
            border-radius: 100%;
            width: 76px;
            margin: 0 auto;
            position: relative;

            .howThisWork-steps__step_green1 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
            }
            .howThisWork-steps__step_green2 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 100%, 100% 100%, 100% 0);
            }
            .howThisWork-steps__step_green3 {
                position: absolute;
                border: 3px solid #06892B;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                clip-path: polygon(50% 0, 50% 50%, 0 50%, 0 100%, 100% 100%, 100% 0);
            }
        }

        .howThisWork-steps__step_finaly {
            background-color: #06892B;
            border: 2px solid #06892B;
            border-radius: 100%;
            color: #FFFFFF;
        }
    }

    .howThisWork-steps__step {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
        line-height: 74px;
    }
    .howThisWork-steps__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #2E3D4A;
    }
    .howThisWork-steps__subtitle {
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #686868;
    }
}


@media (max-width: 991.98px) {
    .howThisWork {
        .howThisWork__steps {
            grid-template-columns: 1fr 1fr;
        }
    }
}
