.review {
    .review__items-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 19px;
    }
    .review__item {
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    }
    .review__image {
        width: 100%;
    }
    .review__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #2E3D4A;
        margin-bottom: 8px;
    }
    .review__author {
        display: flex;
        gap: 16px;
        margin-bottom: 20px;
    }
    .review__body {
        padding: 20px 20px 30px;
    }
    .review__text {
        font-family: 'Geometria light';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #2E3D4A;
        line-height: 21px;
        margin-bottom: 6px;
    }
    .review__showmore a{
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #06892B;
        cursor: pointer;
        text-decoration: none;
    }
    .review__showmore:hover {
        text-decoration: underline;
    }
}

.review-author {
    .review-author__stars {
        display: flex;
        gap: 2px;
        margin-bottom: 4px;

        svg {
            width: 20px;
            height: 20px;;
        }
    }
    .review-author__name {
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #2E3D4A;
        margin-bottom: 4px;
    }
    .review-author__subtitle {
        font-family: 'Geometria';
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
    }
}

@media (max-width: 991.98px){
    .review .review__items-container {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 575.98px){
    .review .review__items-container {
        grid-template-columns: 1fr
    }
}
