.some-text {
    background: #F7F7FF;

    .some-text__wrapper {
        gap: 49px;
        padding-bottom: 48px;
    }

    .some-text__logo-svg {
        width: 70px;
        height: 43px;
    }

    .some-text__text {
        font-family: 'Geometria light';
        font-weight: 400;
        font-size: 16px;
        color: #2E3D4A;
    }

    .some-text__logo {
        margin-bottom: 17px;
    }

    .some-text__logo img{
        width: 72px;
        height: 43px;
    }

    .some-text__logo-text {
        font-size: 30px;
    }
}

@media (max-width: 991.98px) {
    .some-text img {
        display: none;
    }
}
