.whyCarPrice {
    .whyCarPrice__wrapper {
        padding: 70px 0 43px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .whyCarPrice__advantages {
        max-width: 232px;
    }

    .whyCarPrice__item {
        gap:40px;
        display: flex;
        justify-content: space-between;;
    }
}

@media (max-width: 991.98px) {
    .whyCarPrice {
        .whyCarPrice__wrapper {
            flex-direction:column-reverse;
        }
    }
}

@media (max-width: 575.98px){
    .whyCarPrice {
        .whyCarPrice__item {
            flex-direction: column;
            gap: 0;
        }
        .whyCarPrice__advantages {
            max-width: unset;
        }
        .whyCarPrice__wrapper {
            align-items: unset;
        }
    }
}

.advantages-item {
    .advantages-item__numbers {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 20px;
        color: #CCCCCC;
        padding-left: 20px;
        position: relative;
    }
    .advantages-item__numbers::before {
        content: '';
        position: absolute;
        background: #06892B;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .advantages-item__titles {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 18px;
        color: #2E3D4A;
    }

    .advantages-item__sign {
        font-family: $--base-light-font-family;
        font-weight: 400;
        font-size: 14px;
        color: #999999;
    }
}


