.work-cities {
    .work-cities__list {
        padding-top: 40px;
        display: flex;
        gap: 50px;
    }
    .work-cities__list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .work-cities__list ul li {
        margin-bottom: 16px;
    }

    .work-cities__list ul li a{
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
    }

    .work-cities__button {
        background: none;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: $--base-green-color;
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            width: 13px;
            height: 7px;

            use {stroke:$--base-green-color;}
        }
    }

    .work-cities__button {
        transition: 0.3s;
    }



    .work-cities__button.active svg {
        transform: rotate(180deg);
    }
}

@media (max-width: 575.98px){
    .work-cities .work-cities__list {
        display: block;
    }
}
