@import '../vars';

.admin-list{
    a.admin-list__create {
        background-color: rgb(65, 151, 39);
        color: #ced4da;
        border-radius: 10px;
        padding: 10px 15px;

        &:hover {
            background-color:#4bc925;
            color: white;
        }
    }
    .admin-list__body {
        padding-top: 15px;
    }
    .admin-list__form-control {
        display: grid;
        grid-template-columns: 50px 200px auto max-content;
        border-bottom: 1px solid #ced4da;
        margin-bottom: 20px;
        padding-bottom: 10px;

        @include size768 {
            grid-template-columns: 50px auto max-content;
        }

        .admin-list__form-control-item {
            padding: 10px;

            @include size768 {
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
    .admin-list__remove {
        background-color: rgb(196, 63, 63);
        color: white;
        border-radius: 100%;
        padding: 0;
        width: 25px;
        height: 25px;
        border: none;
        line-height: 0;

        &:hover {
            background-color: red;
        }
    }
    a.admin-list__link {
        color: #ced4da;
        font-size: 20px;

        &:hover {
            color: white;
        }
    }
}

.admin-edit {
    label {display: block;}

    input[type=text] {
        width: 100%;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
        border: none;
    }

    option:checked {
        background: #343a40;
        color: white;
    }

    input.error {
        border: 2px solid red;
    }

    textarea {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
    }

    select {
        width: 100%;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
        color: black;
    }

    .admin-edit__form-control {
        margin-bottom: 40px;
    }
    .admin-edit__save {
        background-color: rgb(65, 151, 39);
        border-radius: 10px;
        padding: 10px 15px;
        border: none;
        color: #ced4da;

        &:hover {
            background-color:#4bc925;
            color: white;
        }

        &[disabled] {
            background-color: #ccc;
            color: black;
        }
    }

    .admin-edit__files {
        .admin-edit__file {
            margin-bottom: 20px;
        }
        .admin-edit__input-group {
            display: flex;
            justify-content: space-between;
        }
    }
}

.admin-show {
    form {display: inline;}
    .admin-show__form-control {
        margin-bottom: 20px;
    }
    .admin-show__label{
        color: rgb(120, 140, 255);
        font-size: 20px;
    }
    .admin-show__content{
        padding: 5px 2px;
        border: 2px solid rgb(120, 140, 255);
    }
    .admin-show__remove {
        background-color: rgb(196, 63, 63);
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
    }
}

.main-footer {
    display: none;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;

    .error__label {
        font-weight: 700;
    }
    ul {

    }
}
