.admin-list{
    a.admin-list__create {
        background-color: rgb(65, 151, 39);
        color: #ced4da;
        border-radius: 10px;
        padding: 10px 15px;

        &:hover {
            background-color:#4bc925;
            color: white;
        }
    }
    .admin-list__body {
        padding-top: 15px;
    }
    .admin-list__form-control {
        display: grid;
        grid-template-columns: 50px 200px auto max-content;
        border-bottom: 1px solid #ced4da;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .admin-list__form-control-item {
            padding: 10px;
        }
    }
    .admin-list__remove {
        background-color: rgb(196, 63, 63);
        color: white;
        border-radius: 100%;
        padding: 0;
        width: 25px;
        height: 25px;
        border: none;
        line-height: 0;

        &:hover {
            background-color: red;
        }
    }
    a.admin-list__link {
        color: #ced4da;
        font-size: 20px;

        &:hover {
            color: white;
        }
    }
}

.admin-edit {
    label {display: block;}

    input[type=text] {
        width: 100%;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
        border: none;
    }

    textarea {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
    }

    select {
        width: 100%;
        border-radius: 5px;
        background: #ced4da;
        padding: 10px;
        color: black;
    }

    .admin-edit__form-control {
        margin-bottom: 20px;
    }
    .admin-edit__save {
        background-color: rgb(65, 151, 39);
        border-radius: 10px;
        padding: 10px 15px;
        border: none;
        color: #ced4da;

        &:hover {
            background-color:#4bc925;
            color: white;
        }
    }
}

.admin-show {
    form {display: inline;}
    .admin-show__form-control {
        margin-bottom: 20px;
    }
    .admin-show__label{
        color: rgb(120, 140, 255);
        font-size: 20px;
    }
    .admin-show__content{
        padding: 5px 2px;
        border: 2px solid rgb(120, 140, 255);
    }
    .admin-show__remove {
        background-color: rgb(196, 63, 63);
        color: white;
        border-radius: 10px;
        padding: 10px 15px;
    }
}